
<mat-card class="black">
    <mat-card-header>
        <mat-card-title>
            Education
        </mat-card-title>
    </mat-card-header>
    <hr>
    <div class="container"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

   
        
           <div fxFlex="80%">
            <mat-card  class="black" [@expand]>
                <mat-card-header>
                    <mat-card-title>
                        Engineering
                    </mat-card-title>
                    <span class="flex-spacer"></span>2018-2022
                </mat-card-header>
                <br>
                <mat-card-content>
                    <h2>Government College of Engineering</h2>
                    <h3>Computer Science and Engineering</h3>

                </mat-card-content>                
                <mat-card-footer>
                    <h2>CGPA: 8.6</h2>
                </mat-card-footer>
            </mat-card>
       
           </div>
           
        
    

    </div>
    <br><br>
    <div class="container"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

   
        
           <div fxFlex="80%">
            <mat-card  class="black" [@expand]>
                <mat-card-header>
                    <mat-card-title>
                        HSC
                    </mat-card-title>
                    <span class="flex-spacer"></span>2016-2018
                </mat-card-header>
                <br>
                <mat-card-content>
                    <h3>Deogiri Junior College Aurangabad</h3>

                </mat-card-content> 
                <mat-card-footer>
                    <h2>Percentage: 86.62%</h2>
                </mat-card-footer>               
            </mat-card>
       
           </div>
           
        
    

    </div>
    <br>
    <br>
    <div class="container"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

   
        
           <div fxFlex="80%">
            <mat-card  class="black" [@expand]>
                <mat-card-header>
                    <mat-card-title>
                        SSC
                    </mat-card-title>
                    <span class="flex-spacer"></span>2015-2016
                </mat-card-header>
                <br>
                <mat-card-content>
                    <h3>Saint Francis De Sales High school</h3>
                </mat-card-content>        
                <mat-card-footer>
                    <h2>Percentage: 95.60%</h2>
                </mat-card-footer>        
            </mat-card>
       
           </div>
           
        
    

    </div>
</mat-card>


