@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');

.round
{
    border-radius: 50%;
}
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

