<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item><a mat-button routerLink="/home">Home</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/aboutus">About</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/menu">Menu</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/contact">Contact</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>My Address</h4>
        <address style="text-size: 80%">
          Aurangabad<br>
          <mat-icon>call</mat-icon>: +91 9767535992<br>
          
          <mat-icon>email</mat-icon>:
          <a href="mailto:confusion@food.net">renugangele08.rr@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
        <h4>My Social Media Links</h4>
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><mat-icon>google</mat-icon></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><mat-icon>facebook</mat-icon></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><mat-icon>email</mat-icon></a>
    </div>
  </div>
  <div>
      <p>© Copyright </p>
  </div>
</div>