<app-home></app-home>
<mat-card class="about" [@expand]>
   
  <div class="container"
fxLayout="row"
fxLayout.sm="column" 
fxLayout.xs="column" 
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center" 
fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">


<div fxFlex fxFlex.gt-sm="80%" fxFlexOffset="20px" >
  <mat-card class="about">
      <mat-card-header>About me</mat-card-header>
  <hr>
  <mat-card-content class="content">
    I am a Third Year student pursuing engineering from Government College Of Engineering,Aurangabad with the specialization in Computer Science and Engineering.
    A self motivated and dedicated person. I am quick and passionate learner with a good problem solving skills and programming skills. Always eager to learn new things.
   Highly Skilled in Java , C++, and Frontend technologies like Angular 9, Bootstrap, JavaScript and also have have knowledge in SQL. Done few projects and also this portfolio work with the help of above mentioned technologies. 
      </mat-card-content>
  </mat-card>

  

</div>


</div>
<br>

<br>
<div class="container"
  fxLayout="row"
  fxLayout.sm="column" 
  fxLayout.xs="column" 
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" 
  fxLayoutAlign.gt-sm="center center" 
  fxLayoutGap="10px">
  
  <div class="sec"  fxFlex fxFlex.gt-sm="20%">
   
      <mat-card class="about1" (click)="onProjects()">
        <mat-card-header>
            See My projects
        </mat-card-header>
        <hr>
        
            <mat-icon > developer_mode</mat-icon>
        
        <mat-card-footer>
            
        </mat-card-footer>
    </mat-card>
    
</div>
<div class="sec" fxFlex fxFlex.gt-sm="20%">
  <mat-card class="about1" (click)="onSkills()">
      <mat-card-header>
          My Skills
      </mat-card-header>
      <hr>
      
          <mat-icon>layers</mat-icon>
      
  </mat-card>
  
</div>
<div class="sec" fxFlex fxFlex.gt-sm="20%">
  <mat-card class="about1" (click)="onEducation()">
      <mat-card-header>
          Education
      </mat-card-header>
      <hr>
     
          <mat-icon>school</mat-icon>
      
  </mat-card>
</div>


  </div>

</mat-card>
<!---
<mat-card class="sec">
  <div class="container"
  fxLayout="row"
  fxLayout.sm="column" 
  fxLayout.xs="column" 
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" 
  fxLayoutAlign.gt-sm="center center" 
  fxLayoutGap="10px">
  
  <div  fxFlex fxFlex.gt-sm="20%">
    <mat-card class="sec">Hi</mat-card>
</div>
<div class="sec" fxFlex fxFlex.gt-sm="20%">
  <mat-card class="sec">Hi</mat-card>
</div>
<div class="sec" fxFlex fxFlex.gt-sm="20%">
  <mat-card class="sec">Hi</mat-card>
</div>


  </div>
</mat-card>
-->