@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Vidaloka&display=swap');
.github
{
    background-color: #bb0c46;
}
.detail
{
    background: #292325;
}
.des
{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}
.head
{
    font-family: 'Vidaloka', serif;
    font-size: 25px;
}