<mat-card class="skills">
    <br>
    <!--<div class="container"
  fxLayout="row"
  fxLayout.sm="column" 
  fxLayout.xs="column" 
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" 
  fxLayoutAlign.gt-sm="center center" 
  fxLayoutGap="10px">
  <div fxFlex fxFlex.gt-sm="80%">
  -->
    <mat-card class="skills1" [@expand]>
        <mat-card-header class="heading">
            My Skills Level
        </mat-card-header>
        <hr>
    
    <mat-card-content [@expand] >
        <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.sm="start start"
        fxLayoutAlign.xs="start start"
        fxLayoutAlign.gt-sm="center center"
        fxLayoutGap="10px">

        <div class="name" fxFlex fxFlex.gt-sm="10%">
            
              JAVA
               
        </div>

        <div fxFlex fxFlex.gt-sm="60%">
            
               
            <mat-progress-bar color="warn" mode="determinate" value="85"></mat-progress-bar>
                
        
        </div>
        <div fxFlex fxFlex.gt-sm="5%">
            <div class="percent">
                85 %
            </div>
        </div>
       


    </div>
    <br>
    <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.sm="start start"
        fxLayoutAlign.xs="start start"
        fxLayoutAlign.gt-sm="center center"
        fxLayoutGap="10px">

        <div fxFlex fxFlex.gt-sm="10%">
            
              Angular 9 
               
        </div>

        <div fxFlex fxFlex.gt-sm="60%">
            
               
            <mat-progress-bar color="warn" mode="determinate" value="80"></mat-progress-bar>
                
        
        </div>
        <div fxFlex fxFlex.gt-sm="5%">
            <div class="percent">
                80 %
            </div>
        </div>
       


    </div>
    <br>
    <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.sm="start start"
        fxLayoutAlign.xs="start start"
        fxLayoutAlign.gt-sm="center center"
        fxLayoutGap="10px">

        <div fxFlex fxFlex.gt-sm="10%">
            
              HTML
               
        </div>

        <div fxFlex fxFlex.gt-sm="60%">
            
               
            <mat-progress-bar color="warn" mode="determinate" value="80"></mat-progress-bar>
                
        
        </div>
        <div fxFlex fxFlex.gt-sm="5%">
            <div class="percent">
                80 %
            </div>
        </div>
       


    </div>
    <br>
    <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.sm="start start"
        fxLayoutAlign.xs="start start"
        fxLayoutAlign.gt-sm="center center"
        fxLayoutGap="10px">

        <div fxFlex fxFlex.gt-sm="10%">
            
              BootStrap
               
        </div>

        <div fxFlex fxFlex.gt-sm="60%">
            
               
            <mat-progress-bar color="warn" mode="determinate" value="80"></mat-progress-bar>
                
        
        </div>
        <div fxFlex fxFlex.gt-sm="5%">
            <div class="percent">
                80 %
            </div>
        </div>
       


    </div>
    <br>
    <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.sm="start start"
        fxLayoutAlign.xs="start start"
        fxLayoutAlign.gt-sm="center center"
        fxLayoutGap="10px">

        <div fxFlex fxFlex.gt-sm="10%">
            
             CSS
               
        </div>

        <div fxFlex fxFlex.gt-sm="60%">
            
               
            <mat-progress-bar color="warn" mode="determinate" value="60"></mat-progress-bar>
                
        
        </div>
        <div fxFlex fxFlex.gt-sm="5%">
            <div class="percent">
                60 %
            </div>
        </div>
       


    </div>
    <br>
    <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.sm="start start"
        fxLayoutAlign.xs="start start"
        fxLayoutAlign.gt-sm="center center"
        fxLayoutGap="10px">

        <div fxFlex fxFlex.gt-sm="10%">
            
              JavaScript
               
        </div>

        <div fxFlex fxFlex.gt-sm="60%">
            
               
            <mat-progress-bar color="warn" mode="determinate" value="75"></mat-progress-bar>
                
        
        </div>
        <div fxFlex fxFlex.gt-sm="5%">
            <div class="percent">
                75 %
            </div>
        </div>
       


    </div>
    <br>
    <div class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.sm="start start"
        fxLayoutAlign.xs="start start"
        fxLayoutAlign.gt-sm="center center"
        fxLayoutGap="10px">

        <div fxFlex fxFlex.gt-sm="10%">
            
              SQL
               
        </div>

        <div fxFlex fxFlex.gt-sm="60%">
            
               
            <mat-progress-bar color="warn" mode="determinate" value="80"></mat-progress-bar>
                
        
        </div>
        <div fxFlex fxFlex.gt-sm="5%">
            <div class="percent">
                80 %
            </div>
        </div>
       </div>
    </mat-card-content>
    </mat-card>
   <!-- </div>
    </div>-->
</mat-card>