<mat-card class="skills">
    <mat-card class="skills1" [@expand]>
        <mat-card-header class="heading">
            My Skills Level
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div class="container  "
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="start center"
            >
            <div fxFlex="100" >
                <div fxLayout="row">
                  <div fxFlex="25" >
                    <h4>Java</h4>
                    
                  </div>
                  <div fxFlex="75">
                   <mat-progress-bar class="mar" color="warn" mode="determinate" value="85"></mat-progress-bar> 
                    
                  </div>
                  <span class="percent">85%</span>
                  
                </div>
            </div>
           
            
                
        
        </div>
        <div class="container "
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="start start"
            >
            <div fxFlex="100" >
                <div fxLayout="row">
                  <div fxFlex="25"  >
                    <h4>Angular 9</h4>
                    
                  </div>
                  <div fxFlex="75">
                   <mat-progress-bar class="mar" color="warn" mode="determinate" value="80"></mat-progress-bar> 
                    
                  </div>
                  <span class="percent">80%</span>
                  
                </div>
            </div>
           
            
                
        
        </div>
        <div class="container "
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="start start"
            >
            <div fxFlex="100" >
                <div fxLayout="row">
                  <div fxFlex="25"  >
                    <h4>HTML</h4>
                    
                  </div>
                  <div fxFlex="75">
                   <mat-progress-bar class="mar" color="warn" mode="determinate" value="80"></mat-progress-bar> 
                    
                  </div>
                  <span class="percent">80%</span>
                  
                </div>
            </div>
           
            
                
        
        </div>
        <div class="container "
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="start start"
            >
            <div fxFlex="100" >
                <div fxLayout="row">
                  <div fxFlex="25"  >
                    <h4>Bootstrap</h4>
                    
                  </div>
                  <div fxFlex="75">
                   <mat-progress-bar class="mar" color="warn" mode="determinate" value="85"></mat-progress-bar> 
                    
                  </div>
                  <span class="percent">85%</span>
                  
                </div>
            </div>
           
            
                
        
        </div>
        <div class="container "
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="start start"
            >
            <div fxFlex="100" >
                <div fxLayout="row">
                  <div fxFlex="25"  >
                    <h4>CSS</h4>
                    
                  </div>
                  <div fxFlex="75">
                   <mat-progress-bar class="mar" color="warn" mode="determinate" value="60"></mat-progress-bar> 
                    
                  </div>
                  <span class="percent">60%</span>
                  
                </div>
            </div>
           
            
                
        
        </div>
        <div class="container "
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="start start"
            >
            <div fxFlex="100" >
                <div fxLayout="row">
                  <div fxFlex="25"  >
                    <h4>JavaScript</h4>
                    
                  </div>
                  <div fxFlex="75">
                   <mat-progress-bar class="mar" color="warn" mode="determinate" value="75"></mat-progress-bar> 
                    
                  </div>
                  <span class="percent">75%</span>
                  
                </div>
            </div>
           
            
                
        
        </div>
        <div class="container "
            fxLayout="row"
            fxLayoutGap="10px"
            fxLayoutAlign="start start"
            >
            <div fxFlex="100" >
                <div fxLayout="row">
                  <div fxFlex="25"  >
                    <h4>SQL</h4>
                    
                  </div>
                  <div fxFlex="75">
                   <mat-progress-bar class="mar" color="warn" mode="determinate" value="75"></mat-progress-bar> 
                    
                  </div>
                  <span class="percent">75%</span>
                  
                </div>
            </div>
           
            
                
        
        </div>
        </mat-card-content>
   </mat-card>
</mat-card>