@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
$background-pale:#292325;

.skill{
    background-color: $background-pale;
    color: floralwhite;
}

.mar
{
    margin-top: 10px;
}
.skills
{
    
   font-size: 30px;
   background-color: $background-pale;
    line-height: 32px;
    
}
.skills1
{
    background:  #292325;
}
.percent
{
    font-size: 20px;
    color: rgb(207, 59, 49);
    margin-left: 10px;
}
.heading
{

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    line-height: 32px;
}
//.name
//{
  //  font-family: 'Volkhov', serif;
 //   font-size: 18px;
//}