<!--<mat-card>-->
    <div  class="container jumbotron home "
    color="primary"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

    <div fxFlex fxFlex.gt-md="50%">
      <h1 class="texts" >Hello, I am</h1>
      
      <h2 class="text2">Renu Gangele</h2>
      <pre>
        
      </pre>
      <p class="par">
       Connect me on ->  <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
       <!--<a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
       -->
       <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/renu-gangele-491367191
       "><i class="fa fa-linkedin fa-lg"></i></a>
       <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
       <!--<a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
       -->
       <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
     
      </p>
      
    </div>
    <div fxFlex fxFlex.gt-md="20%">

    </div>
    <div fxFlex fxFlex.gt-md="30%"  >
      <img class="round" src="/assets/images/photo.jpg" height="300" width="350" >
      <!--
      <div style="text-align: center">
      
        <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
        <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
        <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/renu-gangele-491367191
        "><i class="fa fa-linkedin fa-lg"></i></a>
        <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
        <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
        <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
      </div>
    </div>
  -->

   <!-- <div fxFlex="100%">
      <div style="text-align: center;">
        
      </div>
    </div>
   
    -->

  </div>
<!--</mat-card>-->

    